[Desktop Entry]
Name=Get Started!
Comment=Start your journey with coding here!
Icon=/home/pi/.activity_launcher/icon.png
Exec=python3 /home/pi/.activity_launcher/launcher.py
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
