[Desktop Entry]
Name=Double-click here!
Comment=Start your journey with coding!
Icon=/home/pi/.activity_launcher/icon.png
Exec=python3 /home/pi/.activity_launcher/launch.py
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
